@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500);

html, body {
    margin: 0;
    padding: 0;
    color: #212121;
    font: 400 16px/24px 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex {
    flex-grow: 1;
}

.nav-btn, .more-vert {
    line-height: 0;
    cursor: pointer;
}

::-moz-selection {
    color: rgba(255, 255, 255, 0.7);
    background: #ff4081;
}

::selection {
    color: rgba(255, 255, 255, 0.7);
    background: #ff4081;
}

.desktop {
    display: none !important;
}

div {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 400;
}

h1 {
    color: #009688;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 10px;
}

h2 {
    color: #009688;
    margin-bottom: 15px;
    font-size: 18px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

a {
    color: #ff4081;
    text-decoration: none;
}

h3 {
    margin-top: 0;
    color: #212121;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
}

header {
    width: 100%;
}

.topbar, .navbar, .topbar a {
    color: rgba(255, 255, 255, 1);
}

.topbar a {
    transition: color 0.5s cubic-bezier(.18,.89,.32,1.28);
}

.topbar a:hover {
    color: rgba(255, 255, 255, 1);
}

.topbar {
    height: 56px;
    background: #009688;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-btn {
    display: inline-block;
    padding: 16px 15px;
}

.more-vert {
    float: right;
    padding: 16px 15px;
}

.navbar {
    height: 48px;
    width: 100%;
    background: #009688;
    top: 55px;
    position: fixed;
    z-index: 999;
    box-shadow: 0 0 2px rgba(0,0,0,.14),0 1px 2px rgba(0,0,0,.28);
}

.logo {
    display: inline-block;
    padding: 16px 10px;
    font-size: 20px;
    font-weight: 500;
    top: -5px;
    position: relative;
}

.logged-in {
    float: right;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 500;
    display: none;
}

nav {
    float: left;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.54);
    transition: color 0.5s cubic-bezier(.18,.89,.32,1.28);
    padding: 0px 20px;
    text-align: center;
    display: block;
    font: 500 14px/44px Roboto,sans-serif;
}

li a:hover {
    color: rgba(255, 255, 255, 1);
}

.active {
    border-bottom-color: rgba(255, 255, 255, 0.54);
    color: #fff;
    border-style: solid;
    border-width: 0 0 4px 0;
}

.main-heading {
    height: 100%;
}

.main-left {
    float: left;
}

.switch {
    float: right;
    width: 11rem;
    height: 75px;
    text-align: center;
    margin-top: 10px;
}

.flex, .main-heading, .temp-update {
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
}

.circle {
    font-size: 52px;
    color: #212121;
    display: table-cell;
    vertical-align: middle;
    top: -4rem;
    position: relative;
}

#temp_chart {
    width: 100%;
    text-align: center;
    /*display: inline-block;*/
    display: none;
    vertical-align: middle;
}

#temp_chart h3 {
    line-height: 350px;
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

.temp-slider {
    margin: 30px 0px;
}

input[type="number"] {
    display: none;
}

.temp-settings {
    width: 45%;
    float: left;
    display: none;
}

.noUi-handle {
    cursor: pointer;
}

.switch, .switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.switch label {
    cursor: pointer;
    left: -13px;
    position: relative;
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #26a69a;
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(38, 166, 154, 0.1);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
}

.switch label input[type=checkbox]:checked + .lever:after {
    left: 24px;
}

.switch input[type=checkbox][disabled] + .lever {
    cursor: default;
}

.switch label input[type=checkbox][disabled] + .lever:after, .switch label input[type=checkbox][disabled]:checked + .lever:after {
    background-color: #BDBDBD;
}
